@import url(../../../styles/_global-styles.scss);

.cards-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.card-image {
    width: 50%;
}

.card-form {
display: flex;
gap: 20px;
padding: 20px;
}

.card-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}