<section>
    <app-title [title]="'Create a new user'"></app-title>
</section>

<section class="cards-container">
    <div class="card-section card-image">

        <input (change)="showImage($event, imgs)" class="file" type="file">

        <div class="image-content-dashed">
            <div class="image-content">
                <mat-icon fontIcon="add_a_photo"></mat-icon>
                <p>Upload photo</p>
            </div>
        </div>
        <p class="image-format">Allowed *.jpeg, *.jpg, *.png, *.gif
            max size of 3 Mb</p>

            <img class="img-content" #imgs src="" alt="">
        
    </div>
    <div class="card-section card-form" >
        <div class="card-inputs">
            <app-input [label]="'Name'" (value)="setUserInformation($event, 'name')"></app-input>
            <app-input [label]="'Phone number'" (value)="setUserInformation($event, 'phone')"></app-input>
            <app-input [label]="'addresse'" (value)="setUserInformation($event, 'address')"></app-input>
            <app-input [label]="'CI'" (value)="setUserInformation($event, 'ci')"></app-input>
            <app-input [type]="'password'" [label]="'Password'" (value)="setUserInformation($event, 'password')"></app-input>
        </div>
        <div class="card-inputs">
            <app-input [label]="'Last name'" (value)="setUserInformation($event, 'lastname')"></app-input>
            <app-input [label]="'User name'" (value)="setUserInformation($event, 'username')"></app-input>
            <app-input [label]="'Rol'" (value)="setUserInformation($event, 'role')"></app-input>
            <app-input [type]="'date'" [label]="'Birthdate'" (value)="setUserInformation($event, 'birthdate')"></app-input>
            <app-input [type]="'password'" [label]="'Confirm password'" ></app-input>
            <div class="card-button">
                <app-button (click)="enviar($event)" [name]="'Create user'"></app-button>
            </div>
        </div>
    </div>
</section>
