<section>
    <app-title [title]="'Create a new user'"></app-title>
</section>

<section class="cards-container">
    <div class="card-section card-image">
<label for="">s</label>
    </div>
    <div class="card-section card-form">
        <div class="card-inputs">
            <app-input [label]="'Name'"></app-input>
            <app-input [label]="'Last name'"></app-input>
            <app-input></app-input>
            <app-input></app-input>
        </div>
        <div class="card-inputs">
            <app-input></app-input>
            <app-input></app-input>
            <app-input></app-input>
            <app-input></app-input>
        </div>
    </div>
</section>
