@import url(../../../styles/_global-styles.scss);

.cards-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.card-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #979797;
    position: relative;

    .image-format {
        text-align: center;
        font-size: 14px;
        line-height: 15px;
    }

    input::file-selector-button {
        position: absolute;
        font-weight: bold;
        color: rgba(30, 143, 255, 0);
        padding: 0.5em;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 3px;
        padding: 40px;
        width: 100%;
        background-color: rgba(127, 255, 212, 0);
        top: 0;
        right: 0;
        height: 100%;
        z-index: 2;
        cursor: pointer;
      }

      .img-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0);
        cursor: pointer;
      }
}

.card-form {
    display: flex;
    gap: 20px;
    padding: 20px;
    }
    
    .card-inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .image-content-dashed {
        border-radius: 50%;
        border:1px dashed rgba(223, 223, 223, 0.582);
        padding: 5px;
    }
    
.image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ebebebb7;
    gap: 10px;

    p {
        font-size: 13px;
    }

    mat-icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
        padding-top: 10px;
    }
}

.card-button {
    display: flex;
    justify-content: end;
}


// input

.input-container {
    position: relative;
    width: 100%;
    height: 40px;
    padding-bottom: 10px;
}

input {
    width: calc(100% - 10px);
    height: 100%;
    padding: 5px 0px 5px 10px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
    outline: none;
}

label {
    position: absolute;
    font-size: 15px;
    color: rgb(177, 177, 177);
    top: 27%;
    left: 10px;
    transition: all .1s linear;
    
}

input:focus ~label,input:not(:placeholder-shown) ~label {
    top: -12px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(87, 87, 87);
    background-color: white;
    padding: 0 3px;
}

input:focus {
    border: 2px solid rgb(41, 41, 41);
}

input:hover {
    border: 1px solid;
}

input[type="file"]::file-selector-button {
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.file {
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.error {
    border:1px solid red;
}

.error:hover {
    border:2px solid red;
}

.error:focus {
    border:2px solid red;
}

button {
    background-color: rgba(0, 0, 0, 0.897);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    padding: 15px 18px;
    font-weight: 900;
    font-size: 14px;
    width: 100%;
  display: flex;
  justify-content: center;
}

.disabled {
    opacity: 0.5;
}