<section class="slider-container">
    <div class="sidebar-logo">
        logo
    </div>

    <nav class="sidebar-nav">
        <section class="navbar-section">
            <div class="title" (click)="openAdmin(enlacesAdmin)">
                <div>
                    <mat-icon fontIcon="account_circle"></mat-icon>
                    <label>Administrador</label>
                </div>

                <div>
                    <mat-icon [class]="{'hidden': !iconAdmin, 'arrow': true}"  fontIcon="keyboard_arrow_right"></mat-icon>
                    <mat-icon [class]="{'hidden': iconAdmin, 'arrow': true}" fontIcon="keyboard_arrow_down"></mat-icon>
                </div>

            </div>

            <div #enlacesAdmin class="tree">
                <a routerLink="/dashboard/create-user" [class]="{ 'active' : activeLink === 'create-user'}"
                    (click)="setActiveLink('create-user')">Create</a>
                <a routerLink="/dashboard/list-user" [class]="{ 'active' : activeLink === 'list-user'}"
                    (click)="setActiveLink('list-user')">List</a>
                <a>Profile</a>
            </div>
        </section>

        <section class="navbar-section">
            <div class="title" (click)="openProducts(enlacesProducts)">
                <div>
                    <mat-icon fontIcon="inventory_2"></mat-icon>
                    <label>Products</label>
                </div>

                <div>
                    <mat-icon [class]="{'hidden': !iconProd, 'arrow': true}"  fontIcon="keyboard_arrow_right"></mat-icon>
                    <mat-icon [class]="{'hidden': iconProd, 'arrow': true}" fontIcon="keyboard_arrow_down"></mat-icon>
                </div>

            </div>

            <div #enlacesProducts class="tree">
                <a routerLink="/dashboard/create-product" [class]="{ 'active' : activeLink === 'create-product'}"
                    (click)="setActiveLink('create-product')">Productos</a>
                <a routerLink="/dashboard/list" [class]="{ 'active' : activeLink === 'sale'}"
                    (click)="setActiveLink('sale')">Sale</a>
                <a>Profile</a>
            </div>
        </section>
    </nav>
</section>