@import url(../../styles/_global-styles.scss);


.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    width: 420px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

p {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}