<section>
    <app-title [title]="'Create a new product'"></app-title>
</section>

<section class="cards-container">
    <div class="card-section card-details">
        <div class="title-section">
            <p>Details</p>
            <label>Title, short description, image...</label>
        </div>

        <div class="inputs-container">
            <app-input [label]="'Product name'"></app-input>
            <app-text-area [label]="'Details'"[rows]="10"></app-text-area>
        </div>

    </div>

    <div class="card-section card-form">

    </div>
</section>