<section>
    <app-title [title]="'List of users'" [nameButton]="'New user'"></app-title>
</section>

<section class="cards-container">
    <div class="card-section card-list">

    <div class="search-container">
        <app-input [label]="'Search'"></app-input>
        <app-button [name]="''" [iconName]="'search'"></app-button>
    </div>

        <table class="information-container">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Phone number</th>
                <th>Addresse</th>
                <th>Birthdate</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (item of userList; track $index) {
              <tr>
                <td class="perfil">
                  <img src="https://assets.minimals.cc/public/assets/images/mock/avatar/avatar-5.webp" alt="">
                  <div>
                  <label>{{item.name}}  {{item.lastname}}</label>
                  <span>{{ item.username}} </span>    
                  </div>

                </td>
                <td>{{item.phone}}</td>
                <td>{{item.address}}</td>
                <td>{{ item.birthdate| date }}</td>
                <td>{{ item.role}}</td>
                <td class="edit-delete-container">
                    <mat-icon class="edit-icon" fontIcon="edit"></mat-icon>
                    <mat-icon class="delete-icon" fontIcon="delete"></mat-icon>
                </td>
              </tr>                
              }

            </tbody>
          </table>
    
</div>
</section>