<section>
    <app-title [title]="'List users'" [nameButton]="'New user'"></app-title>
</section>

<section class="cards-container">
    <div class="card-section card-list">

    <div class="search-container">
        <app-input [label]="'Search'"></app-input>
        <app-button [name]="''" [iconName]="'search'"></app-button>
    </div>

        <table class="information-container">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Phone number</th>
                <th>Addresse</th>
                <th>User</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="perfil">
                  <img src="https://assets.minimals.cc/public/assets/images/mock/avatar/avatar-5.webp" alt="">
                  <div>
                  <label>Reece Chung</label>
                  <span>{{'letha.lubowitz24@yahoo.com '}} </span>    
                  </div>

                </td>
                <td>+91 22 1234 5678	</td>
                <td>Grimes Inc</td>
                <td>Software Developer</td>
                <td>Administrator</td>
                <td class="edit-delete-container">
                    <mat-icon class="edit-icon" fontIcon="edit"></mat-icon>
                    <mat-icon class="delete-icon" fontIcon="delete"></mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
    
</div>
</section>