.input-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

textarea {
    width: calc(100% - 10px);
    height: auto;
    padding: 10px 0px 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
    outline: none;
}

label {
    position: absolute;
    font-size: 15px;
    color: rgb(177, 177, 177);
    top: 10px;
    left: 10px;
    transition: all .1s linear;
    
}

textarea:focus ~label,textarea:not(:placeholder-shown) ~label {
    top: -12px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(87, 87, 87);
    background-color: white;
    padding: 0 3px;
}

textarea:focus {
    border: 2px solid rgb(41, 41, 41);
}

textarea:hover {
    border: 1px solid;
}
